* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  scrollbar-gutter: stable;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.fill-down-effect {
  position: relative;
  left: 0;
  right: 0;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
  z-index: 1;
}
.fill-down-effect::before {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 150%;
  height: 300%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: -1;
}
@media (hover: hover) and (pointer: fine) {
  .fill-down-effect:hover, .fill-down-effect:focus-within {
    color: #ffcc00;
  }
}
@media (hover: none) and (pointer: coarse) {
  .fill-down-effect:active, .fill-down-effect:focus, .fill-down-effect:focus-within {
    color: #ffcc00;
  }
}
@media (hover: hover) and (pointer: fine) {
  .fill-down-effect:hover::before, .fill-down-effect:focus-within::before {
    bottom: -50%;
  }
}
@media (hover: none) and (pointer: coarse) {
  .fill-down-effect:active::before, .fill-down-effect:focus::before, .fill-down-effect:focus-within::before {
    bottom: -50%;
  }
}

.link-underline-show-center {
  color: #231900;
  cursor: pointer;
}
.link-underline-show-center span {
  position: relative;
  color: #231900;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
  .link-underline-show-center span:hover, .link-underline-show-center span:focus-within {
    color: #ffcc00;
  }
}
@media (hover: none) and (pointer: coarse) {
  .link-underline-show-center span:active, .link-underline-show-center span:focus, .link-underline-show-center span:focus-within {
    color: #ffcc00;
  }
}
@media (hover: hover) and (pointer: fine) {
  .link-underline-show-center span:hover::before, .link-underline-show-center span:focus-within::before {
    -webkit-transform: translate(-50%, 0) scaleX(1);
        -ms-transform: translate(-50%, 0) scaleX(1);
            transform: translate(-50%, 0) scaleX(1);
  }
}
@media (hover: none) and (pointer: coarse) {
  .link-underline-show-center span:active::before, .link-underline-show-center span:focus::before, .link-underline-show-center span:focus-within::before {
    -webkit-transform: translate(-50%, 0) scaleX(1);
        -ms-transform: translate(-50%, 0) scaleX(1);
            transform: translate(-50%, 0) scaleX(1);
  }
}
.link-underline-show-center span::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffcc00;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, 0) scaleX(0);
      -ms-transform: translate(-50%, 0) scaleX(0);
          transform: translate(-50%, 0) scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.page {
  min-width: 320px;
  color: #231900;
  font-family: "Poppins", sans-serif;
  font-size: 1.0625rem;
  line-height: 150%;
  background-color: #fff;
  overflow-x: clip;
}

.page.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1260px;
  padding-inline: 15px;
  margin-inline: auto;
  overflow-x: clip;
}

.button {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  position: relative;
  left: 0;
  right: 0;
  padding-block: 0.875rem;
  padding-inline: 2.875rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  border: 2px solid #ffcc00;
  background: #ffcc00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 5px;
}
.section-header .section-title {
  font-weight: 600;
  color: #231900;
  line-height: 150.909091%;
  text-align: center;
  font-size: 3.4375rem;
}
@media (max-width: 1440px) {
  .section-header .section-title {
    font-size: calc(1.625rem + (1.8125) * (100vw - 20rem) / (70));
  }
}
.section-header .section-subtitle {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%; /* 27px/18 */
  color: #ffcc00;
}

.logo {
  padding: 1px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-shadow: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (hover: hover) and (pointer: fine) {
  .logo:hover, .logo:focus-within {
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 10px 5px rgba(0, 0, 0, 0.3);
  }
}
@media (hover: none) and (pointer: coarse) {
  .logo:active, .logo:focus, .logo:focus-within {
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 10px 5px rgba(0, 0, 0, 0.3);
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__content {
  width: 100%;
  -webkit-column-gap: 54px;
     -moz-column-gap: 54px;
          column-gap: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 35px;
}
@media (max-width: 1440px) {
  .header__content {
    padding-block: calc(16px + (19) * (100vw - 320px) / (1120));
  }
}
.header__menu {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 991.98px) {
  .header__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.header__logo {
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  z-index: 5;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  left: 0;
  top: 0;
}
.header__button {
  display: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (min-width: 767.98px) {
  .header__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header.scrolling {
  background: rgba(204, 88, 136, 0.2);
  backdrop-filter: blur(18px);
}
.header.scrolling .menu__link span,
.header.scrolling .header__logo {
  text-shadow: 1px 1px 3px #000;
}
.header.scrolling .menu__link span:not(:hover) {
  text-shadow: 1px 1px 3px #000;
  color: #fff;
}
.header.scrolling .header__content {
  padding: 10px 0;
}

.header.hidden {
  opacity: 0;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}

.menu__link span {
  font-weight: 700;
  color: #fff;
  line-height: 100%; /* 21px/14 */
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1024.9px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100svh;
    width: 100%;
    padding: 100px 30px 30px;
    background: -webkit-gradient(linear, left top, right top, from(#facc15), to(#22c55e));
    background: linear-gradient(to right, #facc15, #22c55e);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 80px;
    left: -100%;
    top: 0;
    background: -webkit-gradient(linear, left top, right top, from(#facc15), to(#22c55e));
    background: linear-gradient(to right, #facc15, #22c55e);
    backdrop-filter: blur(5px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
    opacity: 0.8;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2rem;
  }
  .menu__link {
    font-size: 1.4rem;
  }
}
@media (min-width: 1025px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 44px;
       -moz-column-gap: 44px;
            column-gap: 44px;
    row-gap: 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .menu__list {
    -webkit-column-gap: calc(22px + (22) * (100vw - 320px) / (1120));
       -moz-column-gap: calc(22px + (22) * (100vw - 320px) / (1120));
            column-gap: calc(22px + (22) * (100vw - 320px) / (1120));
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .menu__list {
    row-gap: calc(20px + (10) * (100vw - 320px) / (1120));
  }
}
@media (min-width: 1025px) {
  .menu__link {
    font-size: 0.875rem;
  }
}
@media (min-width: 1025px) {
  .menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.menu__body.open {
  left: 0%;
}
.menu__body.open::before {
  left: 0;
}

.burger:after, .burger:before, .burger span {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #ffcc00;
  width: 40px;
  height: 3px;
  border-radius: 0;
}

.burger {
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
  }
}
.burger span {
  margin-top: -1.5px;
}
.burger:before {
  content: "";
  margin-top: -16.5px;
}
.burger:after {
  content: "";
  margin-top: 13.5px;
}

.midle-hidden:before, .midle-hidden:after,
.midle-hidden span {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.midle-hidden.active:before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: -1.5px;
}
.midle-hidden.active:after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: -1.5px;
}
.midle-hidden.active span {
  opacity: 0;
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
}

.hero {
  min-height: 100vh;
  min-height: 100svh;
  position: relative;
}
.hero__container {
  padding-top: 149px;
}
.hero__img {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.hero__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right center;
     object-position: right center;
}
.hero__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.625rem;
  margin-bottom: 79px;
}
@media (max-width: 1440px) {
  .hero__text-content {
    margin-bottom: calc(40px + (39) * (100vw - 320px) / (1120));
  }
}
.hero__subtitle strong {
  line-height: 150%; /* 39px/26 */
  font-weight: 700;
  color: #fff;
  font-size: 1.625rem;
}
@media (max-width: 1440px) {
  .hero__subtitle strong {
    font-size: calc(1.25rem + (0.375) * (100vw - 20rem) / (70));
  }
}
.hero__title {
  font-weight: 600;
  color: #fff;
  line-height: 150%; /* 96px/64 */
  font-size: 4rem;
}
@media (max-width: 1440px) {
  .hero__title {
    font-size: calc(2rem + (2) * (100vw - 20rem) / (70));
  }
}
.hero__block {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.8125rem;
     -moz-column-gap: 1.8125rem;
          column-gap: 1.8125rem;
}
.hero__discont {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  text-align: center;
  background-color: #ffcc00;
  width: 205px;
}
@media (max-width: 1440px) {
  .hero__discont {
    width: calc(100px + (105) * (100vw - 320px) / (1120));
  }
}
.hero__text {
  max-width: 324px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.625rem;
}
.hero__text p {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
  font-size: 2.25rem;
}
@media (max-width: 1440px) {
  .hero__text p {
    font-size: calc(1.125rem + (1.125) * (100vw - 20rem) / (70));
  }
}
.hero__digit-text {
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  font-size: 2rem;
}
@media (max-width: 1440px) {
  .hero__digit-text {
    font-size: calc(1rem + (1) * (100vw - 20rem) / (70));
  }
}
.hero__digit {
  font-weight: 700;
  line-height: 150%;
  margin-top: -25%;
  color: #fff;
  font-size: 4rem;
}
@media (max-width: 1440px) {
  .hero__digit {
    font-size: calc(1.6rem + (2.4) * (100vw - 20rem) / (70));
  }
}

@media (max-width: 1024.9px) {
  .hero__title,
  .hero__subtitle,
  .hero__text p {
    text-shadow: 1px 1px 2px #000;
  }
}
.categories__content {
  padding-top: 27px;
  padding-bottom: 40px;
}
.categories__items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: grid;
  min-width: 0;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 180px));
}
@media (min-width: 767.98px) {
  .categories__items {
    display: grid;
    min-width: 0;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 277px));
  }
}
@media (min-width: 410px) {
  .categories__items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.categories__item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.categories__img {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.categories__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.categories__food {
  font-weight: 700;
  line-height: 100%;
  color: #231900;
  margin-bottom: 1.625rem;
  font-size: 1.5rem;
}
@media (max-width: 1440px) {
  .categories__food {
    margin-bottom: calc(0.5rem + (1.125) * (100vw - 20rem) / (70));
  }
}
@media (max-width: 1440px) {
  .categories__food {
    font-size: calc(1.2rem + (0.3) * (100vw - 20rem) / (70));
  }
}
.categories__subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 100%;
  font-size: 1.25rem;
}
@media (max-width: 1440px) {
  .categories__subtitle {
    font-size: calc(1rem + (0.25) * (100vw - 20rem) / (70));
  }
}

.delivery {
  background-color: #ffcc00;
  padding-top: 43px;
  padding-bottom: 59px;
}
@media (max-width: 1440px) {
  .delivery {
    padding-top: calc(30px + (13) * (100vw - 320px) / (1120));
  }
}
@media (max-width: 1440px) {
  .delivery {
    padding-bottom: calc(30px + (29) * (100vw - 320px) / (1120));
  }
}
.delivery__items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: grid;
  min-width: 0;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 220px));
}
@media (min-width: 1260px) {
  .delivery__items {
    display: grid;
    min-width: 0;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 380px));
  }
}
@media (min-width: 410px) {
  .delivery__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.delivery__item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.delivery__img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  margin-bottom: 42px;
}
@media (max-width: 1440px) {
  .delivery__img {
    width: calc(70px + (45) * (100vw - 320px) / (1120));
  }
}
@media (max-width: 1440px) {
  .delivery__img {
    margin-bottom: calc(16px + (26) * (100vw - 320px) / (1120));
  }
}
.delivery__subtitle {
  font-weight: 700;
  line-height: 150%;
  color: #fff;
  margin-bottom: 22px;
  font-size: 1.25rem;
}
@media (max-width: 1440px) {
  .delivery__subtitle {
    margin-bottom: calc(12px + (10) * (100vw - 320px) / (1120));
  }
}
@media (max-width: 1440px) {
  .delivery__subtitle {
    font-size: calc(1rem + (0.25) * (100vw - 20rem) / (70));
  }
}
.delivery__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 100%;
  color: #fff;
  font-size: 1.0625rem;
}
@media (max-width: 1440px) {
  .delivery__text {
    font-size: calc(0.8rem + (0.2625) * (100vw - 20rem) / (70));
  }
}

.outlet {
  background-color: #f5f5f5;
}
.outlet__content {
  padding-top: 76px;
  padding-bottom: 44px;
}
@media (max-width: 1440px) {
  .outlet__content {
    padding-top: calc(40px + (36) * (100vw - 320px) / (1120));
  }
}
.outlet__header {
  margin-bottom: 24px;
}
.outlet__items {
  display: grid;
  min-width: 0;
  grid-template-columns: repeat(auto-fill, minmax(140px, 300px));
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 48px;
}
@media (max-width: 1440px) {
  .outlet__items {
    -webkit-column-gap: calc(15px + (15) * (100vw - 320px) / (1120));
       -moz-column-gap: calc(15px + (15) * (100vw - 320px) / (1120));
            column-gap: calc(15px + (15) * (100vw - 320px) / (1120));
  }
}
@media (max-width: 1440px) {
  .outlet__items {
    row-gap: calc(30px + (18) * (100vw - 320px) / (1120));
  }
}
@media (min-width: 1260px) {
  .outlet__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(140px, 380px));
  }
}
.outlet__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.outlet__img {
  width: 100%;
  aspect-ratio: 380/440;
  overflow: hidden;
  margin-bottom: 20px;
}
.outlet__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 1440px) {
  .outlet__img {
    margin-bottom: calc(14px + (6) * (100vw - 320px) / (1120));
  }
}
.outlet__map-marker {
  width: 21px;
  height: 33px;
  margin-bottom: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.outlet__location {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 150%; /* 30px/20 */
  text-align: center;
  color: #231900;
}

.get__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 108px;
  padding-bottom: 115px;
}
@media (max-width: 1440px) {
  .get__content {
    padding-top: calc(50px + (58) * (100vw - 320px) / (1120));
  }
}
@media (max-width: 1440px) {
  .get__content {
    padding-bottom: calc(56px + (59) * (100vw - 320px) / (1120));
  }
}
.get__img {
  width: 48.75%; /* 585/1200 */
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.get__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.get__content-text {
  width: calc(51.25% - 30px);
}
.get__header {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 1rem;
}
.get__header .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.get__header .section-title::after {
  content: "";
  width: 33.333333%; /* 175/525 */
  height: 5px;
  background-color: #ffcc00;
}
.get__title {
  font-weight: 600;
  line-height: 150%;
  color: #231900;
  margin-bottom: 1rem;
  font-size: 1.625rem;
}
@media (max-width: 1440px) {
  .get__title {
    font-size: calc(1.125rem + (0.5) * (100vw - 20rem) / (70));
  }
}
.get__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-bottom: 40px;
}
@media (max-width: 1440px) {
  .get__text {
    margin-bottom: calc(24px + (16) * (100vw - 320px) / (1120));
  }
}
.get__text p, .get__item-text {
  font-size: 1.0625rem;
}
.get__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.get__subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.get__item-img {
  width: 100px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.get__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.team {
  padding-top: 47px;
  padding-bottom: 65px;
}
.team__header {
  margin-bottom: 82px;
}
@media (max-width: 1440px) {
  .team__header {
    margin-bottom: calc(40px + (42) * (100vw - 320px) / (1120));
  }
}
.team__header .section-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}
.team__header .section-title::after {
  content: "";
  width: 36.607143%; /* 205/560 */
  height: 5px;
  background-color: #ffcc00;
}
.team__items {
  display: grid;
  min-width: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(140px, 277px));
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 48px;
}
@media (max-width: 1440px) {
  .team__items {
    -webkit-column-gap: calc(15px + (15) * (100vw - 320px) / (1120));
       -moz-column-gap: calc(15px + (15) * (100vw - 320px) / (1120));
            column-gap: calc(15px + (15) * (100vw - 320px) / (1120));
  }
}
@media (max-width: 1440px) {
  .team__items {
    row-gap: calc(30px + (18) * (100vw - 320px) / (1120));
  }
}
@media (max-width: 1440px) {
  .team {
    padding-top: calc(25px + (22) * (100vw - 320px) / (1120));
  }
}
@media (max-width: 1440px) {
  .team {
    padding-bottom: calc(25px + (40) * (100vw - 320px) / (1120));
  }
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.member__img {
  margin-bottom: 37px;
}
@media (max-width: 1440px) {
  .member__img {
    margin-bottom: calc(18px + (19) * (100vw - 320px) / (1120));
  }
}
.member__name {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%; /* 36/24 */
  color: #231900;
  margin-bottom: 0.8125rem;
}
.member__role {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%; /* 30/20 */
  color: #231900;
}

.app {
  background-color: #ffcc00;
}
.app__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 65px;
  padding-bottom: 135px;
}
@media (max-width: 1440px) {
  .app__content {
    padding-top: calc(32px + (33) * (100vw - 320px) / (1120));
  }
}
@media (max-width: 1440px) {
  .app__content {
    padding-bottom: calc(72px + (63) * (100vw - 320px) / (1120));
  }
}
@media (min-width: 479.98px) {
  .app__content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.app__text-content {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media (min-width: 767.98px) {
  .app__text-content {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
  }
}
.app__title {
  font-weight: 700;
  line-height: 150.909091%; /* 83/55 */
  color: #fff;
  font-size: 3.4375rem;
  margin-bottom: 32px;
}
@media (max-width: 1440px) {
  .app__title {
    font-size: calc(1.8rem + (1.6375) * (100vw - 20rem) / (70));
  }
}
@media (max-width: 1440px) {
  .app__title {
    margin-bottom: calc(20px + (12) * (100vw - 320px) / (1120));
  }
}
.app__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  margin-bottom: 72px;
}
.app__text p {
  font-weight: 600;
  line-height: 100%;
  color: #fff;
  font-size: 1.625rem;
}
@media (max-width: 1440px) {
  .app__text p {
    font-size: calc(1.25rem + (0.375) * (100vw - 20rem) / (70));
  }
}
@media (max-width: 1440px) {
  .app__text {
    margin-bottom: calc(40px + (32) * (100vw - 320px) / (1120));
  }
}
.app__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
.app__img {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  aspect-ratio: 585/534;
  overflow: hidden;
}
.app__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 767.98px) {
  .app__img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.app__button {
  border-radius: 10px;
  width: 176px;
  height: 55px;
  overflow: hidden;
}
.app__button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.brands__content {
  padding-block: 75px;
}
@media (max-width: 1440px) {
  .brands__content {
    padding-block: calc(40px + (35) * (100vw - 320px) / (1120));
  }
}

.items-brands {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: grid;
  min-width: 0;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 180px));
}
@media (min-width: 767.98px) {
  .items-brands {
    display: grid;
    min-width: 0;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 277px));
  }
}
@media (min-width: 1260px) {
  .items-brands {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.items-brands__img {
  display: inline-block;
  aspect-ratio: 277/200;
  overflow: hidden;
}
.items-brands__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 4rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 89px;
  padding-bottom: 145px;
}
@media (max-width: 1440px) {
  .footer__main {
    padding-top: calc(40px + (49) * (100vw - 320px) / (1120));
  }
}
@media (max-width: 1440px) {
  .footer__main {
    padding-bottom: calc(50px + (95) * (100vw - 320px) / (1120));
  }
}
@media (min-width: 767.98px) {
  .footer__main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__subtitle {
  font-weight: 600;
  line-height: 100%;
  font-size: 1.5rem;
}
@media (max-width: 1440px) {
  .footer__subtitle {
    font-size: calc(1.25rem + (0.25) * (100vw - 20rem) / (70));
  }
}
.footer__items {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 80.894309%;
      flex-basis: 80.894309%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  row-gap: 47px;
}
@media (max-width: 1440px) {
  .footer__items {
    row-gap: calc(36px + (11) * (100vw - 320px) / (1120));
  }
}
@media (min-width: 767.98px) {
  .footer__items {
    -ms-flex-preferred-size: 30.894309%;
        flex-basis: 30.894309%;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}
.footer__logo {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #ffcc00;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1rem;
  padding-block: 43px;
}
@media (max-width: 1440px) {
  .footer-bottom {
    padding-block: calc(32px + (11) * (100vw - 320px) / (1120));
  }
}
@media (min-width: 767.98px) {
  .footer-bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer-bottom__copyright, .footer-bottom__powered {
  color: #231900;
  font-weight: 400;
}

.lists-footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 4rem;
}
@media (min-width: 767.98px) {
  .lists-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.lists-footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 47px;
}
@media (max-width: 1440px) {
  .lists-footer__block {
    row-gap: calc(24px + (23) * (100vw - 320px) / (1120));
  }
}
.lists-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.3125rem;
}
.lists-footer__link span {
  font-size: 1.0625rem;
  font-weight: 400;
  color: #231900;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
}
.footer-socials__link {
  width: 30px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.footer-socials__link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}