@use "../utils/_index.scss" as *;

//=================================BUTTON=============================
.button {
  width: min(100%, 480px);
  position: relative;
  left: 0;
  right: 0;
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b9ee7;

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;

  border-radius: 20px;
  border: 2px solid #6cafd9;
  background: #c9e4ea;
  transition: $transition-duraction;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

// ==============================LOGO
.logo {
  display: flex;
  align-items: center;

  &__img {
    display: block;
    aspect-ratio: 1 / 1;
    @include adaptive-property(width, 42, 0, 60);
    @include ibg;
  }
}

// ===================================SECTION-HEADER=====================
.section-header {
  @include flex;
  row-gap: 0.625rem;
  .section-title {
    font-weight: 600;
    line-height: 100%;
    color: $bg-color;
    @include adaptive-property(font-size, 1.625, 3.4375, rem);
  }
  .section-subtitle {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 100%;
    color: $bg-color-yellow;
  }
}
