@use "../utils/_index" as *;

.get {
  &__content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: space-evenly;
    @include adaptive-property(padding-top, 50, 0, 108);
    @include adaptive-property(padding-bottom, 56, 0, 115);
  }
  &__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    align-self: flex-start;
    @include ibg;
    @media (min-width: 600px) {
      width: 70%;
    }
    @include on-tablet {
      max-width: 48.75%; /* 585/1200 */
    }
  }
  &__content-text {
    width: 100%;
    float: left;
    @include on-tablet {
      max-width: calc((100% - 48.75%) - 30px);
    }
  }
  &__header {
    align-items: start;
    margin-bottom: 1rem;
  }
  &__header .section-title {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__header .section-title::after {
    content: "";
    width: 33.333333%; /* 175/525 */
    height: 5px;
    background-color: $bg-color-yellow;
  }
  &__title {
    font-weight: 600;
    line-height: 150%;
    color: $text-color-main;
    margin-bottom: 1rem;
    @include adaptive-property(font-size, 1.125, 0, 1.625, rem);
  }
  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    @include adaptive-property(margin-bottom, 24, 0, 40);
  }
  &__text p,
  &__item-text {
    font-size: 1.0625rem;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }
  &__item {
    padding-block: 1rem;
  }
  &__subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 0.5rem;
  }
  &__item-img {
    width: 100px;
    aspect-ratio: 1 / 1;
    margin-bottom: 19px;
    @include ibg;
  }
}
