@use "../utils/_index" as *;

.header {
  position: fixed; //sticky
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  transition: $transition-duraction;

  &__content {
    width: 100%;
    padding: 10px 0;
    column-gap: 54px;
    @include flex(space-between, center);
  }

  &__menu {
    column-gap: 10px;
    @include flex(space-between, center);
  }

  &__logo {
    font-size: 1.125rem;
    font-weight: 700;
    color: $bg-color-main;
    z-index: 5;
    @include position-r;
  }
}

.header.scrolling {
  background: rgba(204, 88, 136, 0.2);
  backdrop-filter: blur(18px);

  span, .header__logo {
    text-shadow: 1px 1px 3px #000;
  }
}

.header.hidden {
  opacity: 0;
  transform: translateY(-30px);
}