@use "../utils/_index.scss" as *;

.hero {
  min-height: 100vh;
  min-height: 100svh;
  position: relative;

  &__container {
    padding-top: 149px;
  }
  &__img {
    position: absolute;
    inset: 0;
    z-index: -1;
    mask-image: url("../../images/mask.webp");
    mask-position: bottom;
    mask-size: cover;
    mask-repeat: no-repeat;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right center;
    }
  }
  &__text-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.625rem;
    @include adaptive-property(margin-bottom, 40, 0, 79);
  }
  &__subtitle strong {
    line-height: 150%; /* 39px/26 */
    font-weight: 700;
    color: $bg-color-main;
    @include adaptive-property(font-size, 1.25, 0, 1.625, rem);
  }
  &__title {
    font-weight: 600;
    color: $bg-color-main;
    line-height: 150%; /* 96px/64 */
    @include adaptive-property(font-size, 2, 0, 4, rem);
  }
  &__block {
    width: fit-content;
    display: flex;
    justify-content: center;
    column-gap: 1.8125rem;
  }
  &__discont {
    flex-shrink: 0;
    flex-grow: 0;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    text-align: center;
    background-color: $bg-color-yellow;
    @include adaptive-property(width, 100, 0, 205);
  }
  &__text {
    max-width: 324px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.625rem;
    p {
      font-size: 36px;
      font-weight: 600;
      line-height: 150%;
      color: $bg-color-main;
      @include adaptive-property(font-size, 1.125, 0, 2.25, rem);
    }
  }
  &__digit-text {
    font-weight: 700;
    line-height: 100%;
    color: $bg-color-main;
    @include adaptive-property(font-size, 1, 0, 2, rem);
  }
  &__digit {
    font-weight: 700;
    line-height: 150%;
    margin-top: -25%;
    color: $bg-color-main;
    @include adaptive-property(font-size, 1.6, 0, 4, rem);
  }
}
@media (max-width: 1024.9px) {
  .hero__title,
  .hero__subtitle,
  .hero__text p,
  .hero__discont,
  .hero__digit-text {
    text-shadow: 0.5px 0.5px 0.5px #000;
  }
}
