@use "../utils/_index" as *;

.team {
  &__header {
    @include adaptive-property(margin-bottom, 40, 0, 82);
  }
  &__header .section-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptive-property(row-gap, 20, 0, 40);
  }
  &__header .section-title::after {
    content: "";
    width: 36.607143%; /* 205/560 */
    height: 5px;
    background-color: $bg-color-yellow;
  }
  &__items {
    display: grid;
    min-width: 0;
    grid-template-columns: repeat(auto-fill, minmax(140px, 277px));
    @include adaptive-property(column-gap, 15, 0, 30);
    @include adaptive-property(row-gap, 30, 0, 48);
  }
  @include adaptive-property(padding-top, 25, 0, 47);
  @include adaptive-property(padding-bottom, 25, 0, 65);
}
.member {
  display: flex;
  flex-direction: column;
  align-items: center;
}
